body { background: #FCFCFC; margin: 0; }
code {
    border-radius: 3px;
    background: #FCFCFC;
    padding: 1px 6px 2px 6px;
    border-style: solid;
    border-width: 0;
}
h1 {
    border-bottom: 1px solid black;
    font-weight: normal; font-family: "Fira Sans", sans-serif;

    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h2 {
    border-bottom: 1px solid black;
    padding-left: 9px;
    font-weight: normal; font-family: "Fira Sans", sans-serif;

    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h3 {
    padding-left: 9px;
    font-weight: normal; font-family: "Fira Sans", sans-serif;

    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* ************************************************************************** */
#header {
    text-align: center;
    font-family: "Fira Sans", sans-serif;
    font-weight: normal;
    color: #007bff;
}
#header a {
    text-decoration: none !important;
}
#header a:visited { color: #007bff; }
.textdiv {
    width: 825px;
    margin: 0 auto;
    margin-top: 25px;
    background: #F7F7F7;
    padding: 10px 20px 30px 20px;
    line-height: 1.4;
    border-color: #000000;
    border-style: solid;
    border-width: 0;
    border-radius: 5px;
}
.mnistdiv {
    max-width: 768px;
    margin: 0 auto;
    background: #F7F7F7;
    padding: 1px 20px 30px 20px;
    line-height: 1.1;
    border-color: #000000;
    border-style: solid;
    border-width: 0;
    border-radius: 5px;
}
.mnist-icon-whitebg {
    height: 18px;
    width: 18px;
    display: inline-block;
    margin-bottom: 1px;
    margin-right: 2px;
    vertical-align: middle;
    filter: invert();
}
.mnist-icon-blackbg {
    height: 18px;
    width: 18px;
    display: inline-block;
    margin-bottom: 1px;
    margin-right: 2px;
    vertical-align: middle;
}

/* ************************************************************************** */
.mnist-panel { margin: 0; margin-bottom: 7px; }
.mnist-panel > thead > tr { background: #EBEBEB; text-align: center }
.mnist-panel .entry-name { text-align: right; width: 50%; }
.mnist-panel .entry-status { text-align: center; }
/* ************************************************************************** */
.mnist-pred {
    /* border: 1px solid black; */
    /* border-radius: 3px; */
    /* padding: 1px; */
    /* width: max-content; */
    /* margin: 1px; */
    display: flex;
    justify-content: center;
}
.mnist-pred img {
    height: 28px;
    width: 28px;
    margin: 1px 0 0 0;
}
.mnist-pred div {
    font-family: "Fira Sans", sans-serif;
    font-size: small;
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
    width: 28px;
    height: 28px;
    text-align: center;
    color: black;
    overflow: hidden;
    display: inline-block;
    /* margin: 1px; */
    margin: 1px 0 0 1px;
    vertical-align: middle;
    line-height: 29px;
}
/* .mnist-pred .good-one { outline: 2px solid black;  } */
.mnist-pred .good-one { font-weight: bolder; }
/* .mnist-pred .not-highest-one { font-style: italic; } */
/* ************************************************************************** */
.form-control { color: #007bff; font-weight: bold; }
.form-control::placeholder { color: black; font-weight: normal; opacity: 0.5; }
.form-control:focus { color: #007bff; }
form { padding: 15px }
button:disabled { /* https://stackoverflow.com/a/61659811 */ pointer-events: none !important }
#network-code .tooltip-inner { min-width: 500px; }
.code-overlay {
    width: 42px;
    height: 42px;
    padding: 0 1px 0 3px;
    margin: 0 0 3px 6px;
    border-radius: 22px;
    font-size: 29px;
    font-weight: bold;
    border: 0;
}
.toast-holder {
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 50;
}
#mnist-title {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#mnist-title h1 {
    width: 768px;
    text-align: center;
    border-color: #ebebeb;
    font-size: 2em;
    margin-bottom: 0;
}
